@using Shop.Domain.ViewModels.Site.Products
@model ProductDetailViewModel

@{
    ViewData["Title"] = Model.Name;

    var relatedProduct = (List<ProductItemViewModel>)TempData["RelatedProduct"];
}

@section scripts{

    <script src="/js/jquery.elevateZoom.min.js"></script>
    <script src="/js/bootstrap-input-spinner.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
}

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">خانه</a></li>
            <li class="breadcrumb-item"><a asp-area="" asp-controller="Product" asp-action="Products">محصولات</a></li>
            <li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
        </ol>
    </div>
</nav>

<div class="page-content">
    <div class="container">
        <div class="product-details-top">
            <div class="row">
                <div class="col-md-6">
                    <div class="product-gallery product-gallery-vertical">
                        <div class="row">
                            <figure class="product-main-image">
                                <img id="product-zoom" src="@(PathExtensions.ProductOrgin + Model.ProductImageName)" data-zoom-image="@(PathExtensions.ProductOrgin + Model.ProductImageName)" alt="@Model.Name">

                                <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                    <i class="icon-arrows"></i>
                                </a>
                            </figure><!-- End .product-main-image -->
                            @if (Model.ProductImages != null && Model.ProductImages.Any())
                            {
                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    @foreach (var imageName in Model.ProductImages)
                                    {
                                        <a class="product-gallery-item active" href="#" data-image="@(PathExtensions.ProductThumb + imageName)" "@(PathExtensions.ProductThumb + imageName)">
                                            <img src="@(PathExtensions.ProductThumb + imageName)" alt="@Model.Name">
                                        </a>
                                    }
                                </div>
                                <!-- End .product-image-gallery -->
                            }
                        </div><!-- End .row -->
                    </div><!-- End .product-gallery -->
                </div><!-- End .col-md-6 -->

                <div class="col-md-6">
                    <div class="product-details">
                        <h1 class="product-title">@Model.Name</h1>
                        <!-- End .product-title -->

                        <div class="ratings-container">
                            <div class="ratings">
                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                            </div><!-- End .ratings -->
                            <a class="ratings-text" href="#product-review-link" id="review-link">
                                @Model.ProductComment
                            </a>
                        </div><!-- End .rating-container -->

                        <div class="product-price">
                            @Model.Price.ToString("#,0تومان")
                        </div><!-- End .product-price -->

                        <div class="product-content">
                            <p>
                                @Model.ShortDescription
                            </p>
                        </div><!-- End .product-content -->

                        <div class="details-filter-row details-row-size">
                            <label for="qty">تعداد : </label>
                            <div class="product-details-quantity">
                                <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required="" style="display: none;"><div class="input-group  input-spinner"><div class="input-group-prepend"><button style="min-width: 26px" class="btn btn-decrement btn-spinner" type="button"><i class="icon-minus"></i></button></div><input type="text" style="text-align: center" class="form-control " required="" placeholder=""><div class="input-group-append"><button style="min-width: 26px" class="btn btn-increment btn-spinner" type="button"><i class="icon-plus"></i></button></div></div>
                            </div><!-- End .product-details-quantity -->
                        </div><!-- End .details-filter-row -->

                        <div class="product-details-action">
                            <a asp-area="" asp-controller="Product" asp-action="BuyProduct" asp-route-productId="@Model.ProductId" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>

                            <div class="details-action-wrapper">
                                <a href="#" class="btn-product btn-wishlist" title="لیست علاقه مندی">
                                    <span>
                                        افزودن
                                        به
                                        علاقه مندی
                                    </span>
                                </a>
                                <a href="#" class="btn-product btn-compare" title="مقایسه">
                                    <span>
                                        افزودن به
                                        لیست مقایسه
                                    </span>
                                </a>
                            </div><!-- End .details-action-wrapper -->
                        </div><!-- End .product-details-action -->

                        <div class="product-details-footer">
                            <div class="product-cat text-center">
                                <span>دسته بندی : </span>
                                <a asp-area="" asp-controller="Product" asp-action="Products" asp-route-FilterByCategory="@Model.ProductCategory.UrlName">@Model.ProductCategory.Title </a>
                            </div><!-- End .product-cat -->

                            <div class="social-icons social-icons-sm">
                                <span class="social-label">اشتراک گذاری : </span>
                                <a href="#" class="social-icon" title="فیسبوک" target="_blank"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" title="توییتر" target="_blank"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" title="پینترست" target="_blank"><i class="icon-pinterest"></i></a>
                            </div>
                        </div><!-- End .product-details-footer -->
                    </div><!-- End .product-details -->
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .product-details-top -->

        <div class="product-details-tab">
            <ul class="nav nav-pills justify-content-center" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">توضیحات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">ویژگی محصول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">نظرات (@Model.ProductComment)</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                    <div class="product-desc-content">
                        <h3>اطلاعات محصول</h3>
                        <p>
                            @Model.Description
                        </p>
                    </div><!-- End .product-desc-content -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                    <div class="product-desc-content">
                        @if (Model.ProductFeatures != null && Model.ProductFeatures.Any())
                        {
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">عنوان</th>
                                        <th scope="col">مقدار</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var feature in Model.ProductFeatures)
                                    {
                                        <tr>
                                            <td>@feature.FeatuerTitle</td>
                                            <td>@feature.FeatureValue</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
                <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <form asp-area="" asp-controller="Product" asp-action="CreateProductComment" method="post">
                                    <input hidden="hidden" value="@Model.ProductId" name="ProductId" />
                                    <label>نظر شما</label>
                                    <textarea name="Text" class="form-control"></textarea>
                                    <button type="submit" class="btn btn-success">ارسال نظر</button>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-warning">
                            برای درج نظر لطفا لاگین کنید
                        </div>
                    }
                    <div class="reviews">
                        <h3>@Model.ProductComment</h3>
                        @await Component.InvokeAsync("ProductComments", new {productId = Model.ProductId})
                    </div>
                </div>
            </div>
        </div>

        <h2 class="title text-center mb-4">محصولات مرتبت با محصول</h2>

        <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow owl-rtl owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                            &quot;nav&quot;: false,
                            &quot;dots&quot;: true,
                            &quot;margin&quot;: 20,
                            &quot;loop&quot;: false,
                            &quot;rtl&quot;: true,
                            &quot;responsive&quot;: {
                                &quot;0&quot;: {
                                    &quot;items&quot;:1
                                },
                                &quot;480&quot;: {
                                    &quot;items&quot;:2
                                },
                                &quot;768&quot;: {
                                    &quot;items&quot;:3
                                },
                                &quot;992&quot;: {
                                    &quot;items&quot;:4
                                },
                                &quot;1200&quot;: {
                                    &quot;items&quot;:4,
                                    &quot;nav&quot;: true,
                                    &quot;dots&quot;: false
                                }
                            }
                        }">
            <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1485px;">

                    @if (relatedProduct != null && relatedProduct.Any())
                    {
                        @foreach (var product in relatedProduct)
                        {
                            <div class="owl-item active" style="width: 277px; margin-left: 20px;">
                                <div class="product product-7 text-center">
                                    <figure class="product-media">
                                        <span class="product-label label-new">جدید</span>
                                        <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@product.ProductId">
                                            <img src="@(PathExtensions.ProductOrgin + product.ProductImageName)" alt="@product.ProductName" class="product-image">
                                        </a>

                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable">
                                                <span>
                                                    افزودن به
                                                    لیست علاقه مندی
                                                </span>
                                            </a>
                                            <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="مشاهده سریع"><span>مشاهده سریع</span></a>
                                            <a href="#" class="btn-product-icon btn-compare" title="مقایسه">
                                                <span>
                                                    لیست
                                                    مقایسه
                                                </span>
                                            </a>
                                        </div>
                                        <div class="product-action">
                                            <a href="#" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
                                        </div>
                                    </figure>

                                    <div class="product-body">
                                        <div class="product-cat text-center">
                                            <a asp-area="" asp-controller="Product" asp-action="Products" asp-route-FilterByCategory="@product.ProductCategory.UrlName">@product.ProductCategory.Title</a>
                                        </div>
                                        <h3 class="product-title text-center"><a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@product.ProductId">@product.ProductName</a></h3>
                                        
                                        <div class="product-price">
                                            @product.Price.ToString("#,0تومان")
                                        </div>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 20%;"></div>
                                            </div>
                                            <span class="ratings-text">( @product.CommentCount دیدگاه )</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>
            <div class="owl-nav">
                <button type="button" role="presentation" class="owl-prev disabled">
                    <i class="icon-angle-left"></i>
                </button>
                <button type="button" role="presentation" class="owl-next">
                    <i class="icon-angle-right">

                    </i>
                </button>
            </div>
            <div class="owl-dots disabled"></div>
        </div>
    </div>
</div>
