@model Shop.Domain.ViewModels.Site.Products.ProductItemViewModel

<div class="product product-2">
    <figure class="product-media">
        <span class="product-label label-circle label-new">جدید</span>
        <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@Model.ProductId">
            <img src="@(PathExtensions.ProductOrgin + Model.ProductImageName)" alt="تصویر محصول" class="product-image">
        </a>

        <div class="product-action-vertical">
            <a href="#" class="btn-product-icon btn-wishlist" title="افزودن به لیست علاقه مندی"></a>
        </div>

        <div class="product-action">
            <a href="#" class="btn-product btn-cart" title="افزودن به سبد خرید">
                <span>
                    افزودن
                    به
                    سبد خرید
                </span>
            </a>
            <a href="popup/quickView.html" class="btn-product btn-quickview" title="مشاهده سریع محصول"><span>مشاهده سریع</span></a>
        </div>
    </figure>

    <div class="product-body">
        <div class="product-cat">
            <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@Model.ProductId">@Model.ProductCategory.Title</a>
        </div>
        <h3 class="product-title">
            <a asp-area="" asp-controller="Product" asp-action="ProductDetail" asp-route-productId="@Model.ProductId">
                @Model.ProductName
            </a>
        </h3>
        <div class="product-price">
            @Model.Price.ToString("#,0 تومان")
        </div>
        <div class="ratings-container">
            <div class="ratings">
                <div class="ratings-val" style="width: 80%;"></div>
            </div>
            <span class="ratings-text">@Model.CommentCount</span>
        </div>
    </div>
</div>